*.slo
*.lo
*.o
*.obj
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.swp
*.DS_Store
m4/*
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
missing
ltmain.sh
libtool
install-sh
.deps
.libs
Makefile
Makefile.in
src/neko/neko
src/wrappers/npk-installed
src/wrappers/npk-parse
src/vercmp/vercmp
src/xchroot/xchroot
src/pax/openbsd-pax
